DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = NO
APPLICATION_EXTENSION_API_ONLY = NO
TARGETED_DEVICE_FAMILY = 1
OTHER_LDFLAGS = $(inherited) $(OTHER_LDFLAGS) -ObjC
DEFINES_MODULE = YES
INFOPLIST_FILE = Similarity/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = ${BUNDLE_ID}
PRODUCT_NAME = Similarity
WRAPPER_EXTENSION = app
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT) $(PROJECT_DIR)
HEADER_SEARCH_PATHS = $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited) $(SRCROOT) $(PROJECT_DIR)
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.jonatanortiz.Similarity-Development
WARNING_CFLAGS =
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_SWIFT3_OBJC_INFERENCE = Default
OTHER_SWIFT_FLAGS = $(inherited) -D DEBUG -D DEVELOPMENT
SWIFT_COMPILATION_MODE = singlefile

RUN_SWIFT_LINT = NO

#include "../Pods/Target Support Files/Pods-Similarity/Pods-Similarity.homolog.xcconfig"
